body {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

.container .footer-text {
  margin: 20px 0;
}

.badge {
  background-color: #e4aa48;
}

.book-row {
  margin-top: 15px;
}

.cart-btn-group {
  min-width: 300px;
}

.cart-plus {
  margin-right: 5px;
}
